.central-panel {
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
}

.transcript {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-top: 100px;
}


/*
.segment:hover {
    background-color: yellow;
}
*/

.segment-highlighted {
    text-decoration: underline;
    text-decoration-color: #6184d8;
    text-decoration-thickness: 3px;
}

column {
    float: left;
    display: block;
    padding: 10px;
    box-sizing: border-box;
}


.comment {
    border-left: 2px solid black;
    border-top: 2px solid black;
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    line-height: 1.5em;
}

.controls {
    position: fixed;

    width: fit-content;
    width: 500px;
}

.control-buttons button {
    font-size: 1rem;
    padding: 10px;
    margin: 0px;
    min-width: 40px;
    height: 40px;
}

#currentTime {
    padding-left: 5px;
}

.control-buttons {
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    width: fit-content;
    box-shadow: 0 1px 5px #a6a6a6;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1.7em !important;
    border-radius: 20px;
    background-color: white;
}

#upload-buttons {
    float: right;
}

#upload-buttons button {
    font-size: 20px;
    height: fit-content;
    width: 45px;
}

#pause {
    display: none;
}

button {
    background-color: #6184d8;
    color: white;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: #1f487e;
}

#time-readout {
    background-color: transparent;
    color: black;
    margin-left: 0px;
    padding-left: 0px;
}

.speaker-label {
    font-size: 1em;
    border: none;
    border-color: transparent;
    outline: none;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.highlight {
    background-color: yellow;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.fa-spinner {
    animation-name: spin;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

.word {
    z-index: 99;
}

.file-button {
    background-color: #f61713;
}

.file-button:hover {
    background-color: #8d0801;
}

.central-panel {
    opacity: 0;
    transition: opacity 1s;
}

.intro-panel {
    width: 600px;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    opacity: 1;
    position: relative;
    transition: opacity 1s, margin-top 1.5s, right 1.5s;
}

.intro-header {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

.intro-buttons {
    margin-top: 20px;
    width: 420px;
    margin: auto;
}

.intro-button {
    font-size: 1.4em;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 0px;
    box-shadow: 0 1px 5px lightgrey;
    border-radius: 10px;
    padding: 10px;
    transition: margin .5s;
    position: relative;
    margin-top: 0px;
    width: fit-content;
    float: left;
}

.intro-button:hover {
    background-color: transparent;
}

#upload-arrow {
    color: #eb5e28;
}

#resume-arrow {
    color: #91a6ff;
}

#intro-upload-button:hover {
    margin-top: -5px;
}

#intro-resume-button:hover {
    margin-left: 15px !important;
}