.transcript {
    max-width: 800px;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-top: 50px;
}

/*
.segment:hover {
    background-color: yellow;
}
*/

.segment-highlighted {
    text-decoration: underline;
    text-decoration-color: #6184d8;
    text-decoration-thickness: 3px;
}